DATABASE_URL=postgresql://electron_db_i2d0_user:PkAACrR7SQkvd1MVb45UkdYxcf1Fmw1Z@dpg-d7hdulpo3t8c73ad6bog-a.oregon-postgres.render.com/electron_db_i2d0
SYNC_TOKEN=myClinic_s3cr3t_2026
NODE_ENV=production
PORT=3001